@{
    ViewData["Title"] = "Jewelry Inventory";
}

<div class="text-center">
    <h1>Jewelry Inventory</h1>
    <p>Browse the available jewelry items and their prices.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Price (PHP)</th>
        </tr>
    </thead>
    <tbody>
        <tr><th scope="row">1</th><td>Gold Necklace</td><td>18K gold with intricate pendant</td><td>15,000</td></tr>
        <tr><th scope="row">2</th><td>Silver Ring</td><td>Sterling silver with cubic zirconia</td><td>2,500</td></tr>
        <tr><th scope="row">3</th><td>Pearl Earrings</td><td>Freshwater pearls, stud style</td><td>3,200</td></tr>
        <tr><th scope="row">4</th><td>Bracelet</td><td>14K gold-plated charm bracelet</td><td>4,800</td></tr>
        <tr><th scope="row">5</th><td>Diamond Ring</td><td>0.5ct lab-grown diamond</td><td>28,000</td></tr>
        <tr><th scope="row">6</th><td>Choker</td><td>Velvet choker with rose gold accent</td><td>1,200</td></tr>
        <tr><th scope="row">7</th><td>Anklet</td><td>Delicate chain with star charms</td><td>950</td></tr>
        <tr><th scope="row">8</th><td>Men’s Chain</td><td>Stainless steel link chain</td><td>3,500</td></tr>
        <tr><th scope="row">9</th><td>Gemstone Pendant</td><td>Amethyst pendant on silver chain</td><td>5,600</td></tr>
        <tr><th scope="row">10</th><td>Jewelry Box</td><td>Handcrafted wooden box with velvet lining</td><td>1,750</td></tr>
    </tbody>
</table>
